@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
    --background: #7aa4ab;
    --header: #8eb8c2; 
    --accent: #416270;
  }

body {
    font-family: 'Cabin';
    background-color: var(--background);
    background-image: url("assets/ocean1.jpg");
}

p {
    font-size: larger;
}

h2 {
    font-size: x-large;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: var(--header);
    background: rgba(142,184,194,0.6);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.main {
    margin: 10px 60px;
    
}

.stats-container {
    display: flex;
    justify-content: space-between;
}

.stats-card {
    background-color: var(--accent);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    color: white;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

#button-container {
    text-align: center;
}

.stats-card:hover, .game-card:hover, #unfunded-btn:hover, #funded-btn:hover, #all-btn:hover {
    box-shadow: 0 0 30px var(--header);
    cursor: pointer;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    font-size: large;
    background-color: var(--accent);
    color: white;
}

footer {
    text-align: center;
}